<div class="container-fluid  navbar-expand-sm navbar-dark top-navbar-background d-flex">
    <nav class="navbar-nav navbar-dark top-navbar-background d-flex  col-12">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="nav-item d-flex justify-content-start">
          <a class="navbar-brand" href=""><i class="fas fa-home navbar-text-color"></i></a>
          <a class="navbar-brand justify-content-center" href="{% url 'dashboard_view' %}">Retourner au dashboard</a>
        </div>
        <ul class="navbar-nav ms-auto d-flex">
            <li class="nav-item dropdown  dropstart d-flex justify-content-end">
                <a class="nav-link" href="#" role="button" id="options-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-text-color navbar-brand"><i class="fas fa-cog rotated-cog"></i></span>
                </a>
                <div class="dropdown-menu dropdown-option-menu-color" id="dropdown" aria-labelledby="options-dropdown">
                {% if request.user.id == game.owner_uuid_id %}
                    {% for player in players %}
                        {% if player.player_id != game.owner_uuid_id %}
                        <a href="{% url 'display_player_character_sheet' pk=game.id player_id=player.player_id %}" class="dropdown-item dropdown-option-menu-color" target="_blank"><i class="fas fa-user-graduate"><span class="p-2 align-middle navbar-text-color"></i>Fiche de {{ player.username_invite_code }}</span></a>
                        {% endif %}
                    {% endfor %}
                <span class="dropdown-item dropdown-option-menu-color"  data-toggle="modal" data-target="#delete-game-modal"><i class="fas fa-cogs"><span class="p-2 align-middle navbar-text-color"></i>Supprimer ce jeu</span></span>
                {% else %}
                <a href="{% url 'display_player_character_sheet' pk=game.id player_id=user.id %}" class="dropdown-item dropdown-option-menu-color" target="_blank"><i class="fas fa-user-graduate"><span class="p-2 align-middle navbar-text-color"></i>Ma fiche de personnage</span></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropdown-option-menu-color" href="{% url 'leave_game' %}"><i class="fas fa-cogs"><span class="p-2 align-middle navbar-text-color"></i>Quitter la partie</span></a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item logout" href="{% url 'user_logout' %}"><i class="fas fa-sign-out-alt"><span class="p-2 align-middle"></i>Deconnexion</span></a>
                </div>
            </li>
        </ul>
      </div>
    </nav>
  </div>
