{% extends 'generalist_template.html' %}
{% load static %}
{% load customtags %}
{% block title %}
<title> fiche {{ request.user.username_invite_code }}</title>
{% endblock %}

{% block content%}
<div class="container-fluid">
  <form action="" class="modal-content" id="character-sheet-modal-content" method="POST">
    {% csrf_token %}
    <div class="modal-header row no-gutters d-flex character-sheet-color">
      <h2 class="d-flex justify-content-center col-11 character-sheet-category-title" id="">A travers la brèche</h2>
      <h3 class="d-flex justify-content-center col-12 mt-2 pr-5 character-sheet-category-title">Bienvenue à Malifaux</h3>
      <div class="row">
        <div class="col-6 d-flex justify-content-end button-page-1">
          <h5 class="mx-auto character-sheet-category-title cursor-pointer character-sheet-button">Page 1</h5>
        </div>
        <div class="col-6 d-flex justify-content-start button-page-2">
          <h5 class="mx-auto character-sheet-category-title cursor-pointer character-sheet-button">Page 2</h5>
        </div>
      </div>
    </div>
    <div class=" row no-gutters d-flex character-sheet-color" id="page-1">
      <div class="row no-gutters col-12 d-flex justify-content-center">
        {#--page 1 left side row 1 --#}
        <div class="row col-xl-6 col-md-5 col-sm-10 col-12 d-flex align-self-start mx-auto mt-2">
          <div class="form-row col-12 character-sheet-border ">
            <div class="form-group align-items-center col-12">
              <label for="name">Nom de votre personnage:</label>
              <input type="text" class="form-control" id="name" value="{{character_sheet.0.charinfo.name }}" placeholder="Nom de votre personnage..."/>
            </div>
            <div class="row">
              <div class="form-group align-items-center col-4">
                <label for="age">Age:</label>
                <input type="text" class="form-control " step="1" id="age" value="{{character_sheet.0.charinfo.age}}" placeholder="0" min="0"/>
              </div>
              <div class="form-group align-items-center col-4">
                <label for="lenght">Taille:</label>
                <input type="text" class="form-control " step=".01" id="length" value="{{character_sheet.0.charinfo.lenght}}" placeholder="0" min="0"/>
              </div>
              <div class="form-group align-items-center col-4">
                <label for="weight">Poid:</label>
                <input type="text" class="form-control " id="weight" value="{{character_sheet.0.charinfo.weight}}" placeholder="0" min="0"/>
              </div>
            </div>
            <div class="form-group align-items-center col-12">
              <label for="Description">Description:</label>
              <div class="form-group" id="description-textarea" style="color:black;">
                {% autoescape off %}
                {{ character_sheet.0.charinfo.description|safe }}
                {% endautoescape %}
              </div>
            </div>
          </div>
        </div>
        {#--page 1 right side row 1 --#}
        <div class="col-xl-6 col-md-5 col-sm-10 col-10 d-flex align-self-start mx-auto mt-2">
          <div class="form-row col-12 no-gutters mb-2 character-sheet-border">
            <div class="form-group col-12 character-sheet-border character-sheet-title-color">
              <h5 class="text-center mx-auto col-12 character-sheet-title-color mt-2">OCCUPATIONS</h5>
            </div>
            <div class="input-group align-items-center col-12 mt-2 occupation">
              <span class="input-group-addon"><input type="checkbox" id="occupation1-checkbox" {% if character_sheet.1.occupation.is_checked %} checked {% endif %}></span>
              <input type="text" class="form-control col-10" id="occupation1" value="{{ character_sheet.1.occupation.text }}" placeholder="occupation1..."/>
            </div>
            <div class="input-group align-items-center col-12 mt-1 occupation">
              <span class="input-group-addon"><input type="checkbox" id="occupation2-checkbox" {% if character_sheet.2.occupation.is_checked %} checked {% endif %}> </span>
              <input type="text" class="form-control col-10" id="occupation2" value="{{ character_sheet.2.occupation.text }}" placeholder="occupation2..."/>
            </div>
            <div class="input-group align-items-center col-12 mt-1 occupation">
              <span class="input-group-addon"><input type="checkbox" id="occupation3-checkbox" {% if character_sheet.3.occupation.is_checked %} checked {% endif %}> </span>
              <input type="text" class="form-control col-10" id="occupation3" value="{{ character_sheet.3.occupation.text }}" placeholder="occupation3..."/>
            </div>
            <div class="input-group align-items-center col-12 mt-1 mb-2 occupation">
              <span class="input-group-addon"><input type="checkbox" id="occupation4-checkbox" {% if character_sheet.4.occupation.is_checked %} checked {% endif %}> </span>
              <input type="text" class="form-control col-10" id="occupation4" value="{{ character_sheet.4.occupation.text }}" placeholder="occupation4..."/>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters col-12 d-flex justify-content-center mt-1">
        {#--page 1 left side row 2 --#}
        <div class="col-xl-6 col-md-5 col-sm-10 col-10 d-flex align-self-start mx-auto mt-1">
          <div class="form-row col-12 no-gutters mb-2 character-sheet-border">
            <div class="form-group col-12 character-sheet-border character-sheet-title-color">
              <h5 class="text-center mx-auto col-12 character-sheet-title-color mt-2">ASPECTS</h5>
            </div>
            <div class="row mt-1">
              <div class="col-6 text-center">
                <span class="character-sheet-category-title">Physique</span>
              </div>
              <div class="col-6 text-center">
                <span class="character-sheet-category-title">Mental</span>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="input-group col-4 mb-1 mt-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12 mx-auto">Puissance</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="power" name="power" value="{{ character_sheet.5.aspect.power }}" aria-describedby="basic-addon3">
                </div>
              </div>
              <div class="col-6">
                <div class="input-group col-4 mb-1 mt-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Intellect</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="intel" name="intel" value="{{ character_sheet.5.aspect.intel }}" aaria-describedby="basic-addon3">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="input-group col-4 mb-1 mt-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Agilité</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="agility" name="agility" value="{{ character_sheet.5.aspect.agility }}" aaria-describedby="basic-addon3">
                </div>
              </div>
              <div class="col-6">
                <div class="input-group col-4 mb-1 mt-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Charme</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="charisma" name="charisma" value="{{ character_sheet.5.aspect.charisma }}" aaria-describedby="basic-addon3">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="input-group col-4 mb-1 mt-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Vitesse</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="speed" name="speed" value="{{ character_sheet.5.aspect.speed }}" aaria-describedby="basic-addon3">
                </div>
              </div>
              <div class="col-6">
                <div class="input-group col-4 mb-1 mt-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Ruse</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="cunning" name="cunning" value="{{ character_sheet.5.aspect.cunning }}" aaria-describedby="basic-addon3">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="input-group col-4 mb-1 mt-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Résilience</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="resilience" name="resilience" value="{{ character_sheet.5.aspect.resilience }}" aaria-describedby="basic-addon3">
                </div>
              </div>
              <div class="col-6 mb-2">
                <div class="input-group col-4 mb-1 mt-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Ténacité</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="steadiness" name="steadiness" value="{{ character_sheet.5.aspect.steadiness }}" aaria-describedby="basic-addon3">
                </div>
              </div>
            </div>
          </div>
        </div>
        {#--page 1 right side row 2 --#}
        <div class="col-xl-6 col-md-5 col-sm-10 col-10 d-flex align-self-start mx-auto mt-1">
          <div class="form-row col-12 no-gutters mb-2 character-sheet-border">
            <div class="form-group col-12 character-sheet-border character-sheet-title-color">
              <h5 class="text-center mx-auto col-12 character-sheet-title-color mt-2">ORIGINES</h5>
            </div>
            <div class="form-control" id="origine-textarea">{% autoescape off %} {{character_inventory_and_origins.0.origin|safe }}{% endautoescape %} </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters col-12 d-flex justify-content-center mt-1">
      {#--page 1 left side row 3 --#}
        <div class="col-xl-6 col-md-6 col-sm-10 col-10 d-flex align-self-start mx-auto mt-1">
          <div class="form-row col-12 no-gutters mb-2 character-sheet-border">
            <div class="form-group col-12 character-sheet-border character-sheet-title-color">
              <h5 class="text-center mx-auto col-12 character-sheet-title-color mt-2">ASPECTS DERIVES</h5>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="input-group col-4 mt-2 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12 mx-auto">Défense</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="defense" name="defense" value="{{ character_sheet.6.sub_aspect.defense }}" aria-describedby="basic-addon3">
                </div>
              </div>
              <div class="col-6">
                <div class="input-group col-4 mt-2 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Marche</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="walk" name="walk" value="{{ character_sheet.6.sub_aspect.walk }}" aria-describedby="basic-addon3">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="input-group col-4 mb-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Armure</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="armor" name="armor" value="{{ character_sheet.6.sub_aspect.armor }}" aria-describedby="basic-addon3">
                </div>
              </div>
              <div class="col-6">
                <div class="input-group col-4 mb-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Charge</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="charge" name="charge" value="{{ character_sheet.6.sub_aspect.charge }}" aria-describedby="basic-addon3">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="input-group col-4 mb-1 mt-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Volonté</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="will" name="will" value="{{ character_sheet.6.sub_aspect.will }}" aria-describedby="basic-addon3">
                </div>
              </div>
              <div class="col-6">
                <div class="input-group col-4 mb-1 mt-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Initiative</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="initiative" name="initiative" value="{{ character_sheet.6.sub_aspect.initiative }}" aria-describedby="basic-addon3">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="input-group col-4 mb-1 mt-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Blessures</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="wound" name="wound" value="{{ character_sheet.6.sub_aspect.wound }}" aria-describedby="basic-addon3">
                </div>
              </div>
              <div class="col-6 mb-2">
                <div class="input-group col-4 mb-1 mt-1 pl-1 pr-1">
                  <span class="input-group-text col-xl-4 col-md-4 col-12 col-sm-12" id="basic-addon3">Taille</span>
                  <input type="text" class="form-control col-xl-2 col-md-2 col-12 col-sm-12" id="height" name="height" value="{{ character_sheet.6.sub_aspect.height }}" aria-describedby="basic-addon3">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-md-12 col-sm-10 col-10 d-flex align-self-start mx-auto mt-1">
                <div class="form-row col-12 no-gutters ">
                  <div class="form-group col-12">
                    <h5 class="text-center mx-auto col-12 character-sheet-title-color pt-2 pb-3">ATTAQUE</h5>
                  </div>
                  <div class="col-xl-12">
                    <div class="input-group col-12 mb-1 mt-1 pl-1 pr-1">
                      <span class="input-group-text col-md-2 col-4 col-sm-4" id="basic-addon3">Nom</span>
                      <input type="text" class="form-control col-md-2 col-8 col-sm-8" id="attack-name-1" name="attack-name-1" value="{{ character_sheet.7.attack.name }}" aria-describedby="basic-addon3">
                    </div>
                    <div class="input-group col-2">
                      <div class="col-4 mb-1 mt-1 pl-1 pr-1">
                        <span class="col-12 text-center mx-auto character-sheet-category-title d-flex justify-content-center">Attaque</span>
                      </div>
                      <div class="col-4 mb-1 mt-1 pl-1 pr-1">
                        <span class="col-12 text-center mx-auto character-sheet-category-title d-flex justify-content-center">Portée</span>
                      </div>
                      <div class="col-4 mb-1 mt-1 pl-1 pr-1">
                        <span class="col-12 text-center mx-auto character-sheet-category-title d-flex justify-content-center">Dégats</span>
                      </div>
                    </div>
                    <div class="input-group col-2">
                      <div class="col-4 mb-1 mt-1 pl-1 pr-1">
                        <input type="text" class="form-control col-xl-2 col-md-2 col-2 col-sm-12" id="attack-va-1" name="attack-va-1" value="{{ character_sheet.7.attack.va }}" aria-describedby="basic-addon3">
                      </div>
                      <div class="col-4 mb-1 mt-1 pl-1 pr-1">
                        <input type="text" class="form-control col-xl-2 col-md-2 col-2 col-sm-12" id="attack-range-1" name="attack-range-1" value="{{ character_sheet.7.attack.range }}" aria-describedby="basic-addon3">
                      </div>
                      <div class="col-4 mb-1 mt-1 pl-1 pr-1">
                        <input type="text" class="form-control col-xl-2 col-md-2 col-2 col-sm-12" id="attack-damage-1" name="attack-damage-1" value="{{ character_sheet.7.attack.damage }}" aria-describedby="basic-addon3">
                      </div>
                    </div>
                    <div class="input-group col-12 mb-1 mt-1 pl-1 pr-1">
                      <span class="input-group-text col-md-2 col-4 col-sm-4" id="basic-addon3">Spécial</span>
                      <input type="text" class="form-control col-md-2 col-8 col-sm-8" id="attack-special-1" name="attack-special-1" value="{{ character_sheet.7.attack.special }}" aria-describedby="basic-addon3">
                    </div>
                    <div class="input-group col-2">
                      <div class="col-6 mb-1 mt-1 pl-1 pr-1">
                        <span class="col-12 text-center mx-auto character-sheet-category-title d-flex justify-content-center">Capacité</span>
                      </div>
                      <div class="col-6 mb-1 mt-1 pl-1 pr-1">
                        <span class="col-12 text-center mx-auto character-sheet-category-title d-flex justify-content-center">Recharge</span>
                      </div>
                    </div>
                    <div class="input-group col-2">
                      <div class="col-6 mb-1 mt-1 pl-1 pr-1">
                        <input type="text" class="form-control col-xl-2 col-md-2 col-2 col-sm-12" id="attack-skill-1" name="attack-skill-1" value="{{ character_sheet.7.attack.skill }}" aria-describedby="basic-addon3">
                      </div>
                      <div class="col-6 mb-1 mt-1 pl-1 pr-1">
                        <input type="text" class="form-control col-xl-2 col-md-2 col-2 col-sm-12" id="attack-reload-1" name="attack-reload-1" value="{{ character_sheet.7.attack.reload }}" aria-describedby="basic-addon3">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-xl-12 col-md-12 col-sm-10 col-10 d-flex align-self-start mx-auto mt-1">
                <div class="form-row col-12 no-gutters ">
                  <div class="form-group col-12">
                    <h5 class="text-center mx-auto col-12 character-sheet-title-color pt-2 pb-3">ATTAQUE 2</h5>
                  </div>
                  <div class="col-xl-12">
                    <div class="input-group col-12 mb-1 mt-1 pl-1 pr-1">
                      <span class="input-group-text col-4 col-sm-4" id="basic-addon3">Nom</span>
                      <input type="text" class="form-control col-md-4 col-8 col-sm-8" id="attack-name-2" name="attack-name-2" value="{{ character_sheet.8.attack2.name }}" aria-describedby="basic-addon3">
                    </div>
                    <div class="input-group col-2">
                      <div class="col-4 mb-1 mt-1 pl-1 pr-1">
                        <span class="col-12 text-center mx-auto character-sheet-category-title d-flex justify-content-center">Attaque</span>
                      </div>
                      <div class="col-4 mb-1 mt-1 pl-1 pr-1">
                        <span class="col-12 text-center mx-auto character-sheet-category-title d-flex justify-content-center">Portée</span>
                      </div>
                      <div class="col-4 mb-1 mt-1 pl-1 pr-1">
                        <span class="col-12 text-center mx-auto character-sheet-category-title d-flex justify-content-center">Dégats</span>
                      </div>
                    </div>
                    <div class="input-group col-2">
                      <div class="col-4 mb-1 mt-1 pl-1 pr-1">
                        <input type="text" class="form-control col-xl-2 col-md-2 col-2 col-sm-12" id="attack-va-2" name="attack-va-2" value="{{ character_sheet.8.attack2.va }}" aria-describedby="basic-addon3">
                      </div>
                      <div class="col-4 mb-1 mt-1 pl-1 pr-1">
                        <input type="text" class="form-control col-xl-2 col-md-2 col-2 col-sm-12" id="attack-range-2" name="attack-range-2" value="{{ character_sheet.8.attack2.range }}" aria-describedby="basic-addon3">
                      </div>
                      <div class="col-4 mb-1 mt-1 pl-1 pr-1">
                        <input type="text" class="form-control col-xl-2 col-md-2 col-2 col-sm-12" id="attack-damage-2" name="attack-damage-2" value="{{ character_sheet.8.attack2.damage }}" aria-describedby="basic-addon3">
                      </div>
                    </div>
                    <div class="input-group col-12 mb-1 mt-1 pl-1 pr-1">
                      <span class="input-group-text col-md-2 col-4 col-sm-4" id="basic-addon3">Spécial</span>
                      <input type="text" class="form-control col-md-2 col-8 col-sm-8" id="attack-special-2" name="attack-name-2" value="{{ character_sheet.8.attack2.special }}" aria-describedby="basic-addon3">
                    </div>
                    <div class="input-group col-2">
                      <div class="col-6 mb-1 mt-1 pl-1 pr-1">
                        <span class="col-12 text-center mx-auto character-sheet-category-title d-flex justify-content-center">Capacité</span>
                      </div>
                      <div class="col-6 mb-1 mt-1 pl-1 pr-1">
                        <span class="col-12 text-center mx-auto character-sheet-category-title d-flex justify-content-center">Recharge</span>
                      </div>
                    </div>
                    <div class="input-group col-2">
                      <div class="col-6 mb-1 mt-1 pl-1 pr-1">
                        <input type="text" class="form-control col-xl-2 col-md-2 col-2 col-sm-12" id="attack-skill-2" name="attack-skill-2" value="{{ character_sheet.8.attack2.skill }}" aria-describedby="basic-addon3">
                      </div>
                      <div class="col-6 mb-1 mt-1 pl-1 pr-1">
                        <input type="text" class="form-control col-xl-2 col-md-2 col-2 col-sm-12" id="attack-reload-2" name="attack-reload-2" value="{{ character_sheet.8.attack2.reload }}" aria-describedby="basic-addon3">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {#-- page 1 right side row 3 --#}
        <div class="col-xl-6 col-md-6 col-sm-10 col-10 d-flex align-self-start mx-auto mt-1">
          <div class="form-row col-12 no-gutters mb-2 character-sheet-border">
            <div class="form-group col-12 character-sheet-border character-sheet-title-color">
              <h5 class="text-center mx-auto col-12 character-sheet-title-color mt-2">COMPETENCES</h5>
            </div>
            <div class="row mt-1">
              <div class="col-xl-3 col-md-3 col-12 col-sm-12 text-center">
                <span class="character-sheet-category-title">Competence</span>
              </div>
              <div class="col-xl-3 col-md-3 col-12 col-sm-12 text-center">
                <span class="character-sheet-category-title">Aspect</span>
              </div>
              <div class="col-xl-3 col-md-3 col-12 col-sm-12 text-center">
                <span class="character-sheet-category-title">Rang</span>
              </div>
              <div class="col-xl-3 col-md-3 col-12 col-sm-12 text-center">
                <span class="character-sheet-category-title">VA</span>
              </div>
            </div>
            {% for i in 1|range:21 %}
            <div class="row mt-1 skill-data"  id="skill-data-{{ i }}">
              <div class="col-xl-3 col-md-3 col-12 col-sm-12 text-center">
                <input type="text" class="competence form-control" id="competence-{{ i }}" value="{{ character_sheet.i.skill.competence }}" name="competence{{ i }}"></input>
              </div>
              <div class="col-xl-3 col-md-3 col-12 col-sm-12 text-center">
                <input type="text" class="competence form-control" id="aspect-{{ i }}"  value="{{ character_sheet.i.skill.aspect }}" name="aspect{{ i }}"></input>
              </div>
              <div class="col-xl-3 col-md-3 col-12 col-sm-12 text-center">
                <input type="text" class="competence form-control" id="rang-{{ i }}"  value="{{ character_sheet.i.skill.rang }}" name="rang{{ i }}"></input>
              </div>
              <div class="col-xl-3 col-md-3 col-12 col-sm-12 text-center">
                <input type="text" class="competence form-control"id="va-{{ i }}"  value="{{ character_sheet.i.skill.va }}" name="va{{ i }}"></input>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class=" row no-gutters d-flex character-sheet-color" id="page-2">
      <div class="row no-gutters col-12 d-flex justify-content-center">
        {#--page 2 full side row 1 --#}
        <div class="col-10 d-flex align-self-start mx-auto mt-1">
          <div class="form-row col-12 no-gutters mb-2 character-sheet-border">
            <div class="form-group col-12 character-sheet-border character-sheet-title-color">
              <h5 class="text-center mx-auto col-12 character-sheet-title-color mt-2">TALENTS / POUVOIRS MANIFESTES / THEORIES MAGIQUES</h5>
              <div class="mx-auto col-12 mt-1 row">
                <div class=" d-flex justify-content-end col-6 add-talent">
                  <i class="fas fa-angle-down fa-2x cursor-pointer add-remove-talent-color"></i>
                </div>
                <div class=" d-flex justify-content-start col-6 cursor-pointer remove-talent">
                  <i class="fas fa-angle-up fa-2x add-remove-talent-color"></i>
                </div>
              </div>
            </div>
            <div class="row mt-2 talent-row">
              {% for row in sheet_inventory_talent.0.talent %}
              <div class="col-xl-6 col-md-6 col-12 col-sm-12 text-center mb-1 talent-subrow">
                <textarea id="{{ row.id }}" class="col-12 talent" name="{{ row.id }}">{{ row.value }}</textarea>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {#--page 2 left side row 2 --#}
        <div class="col-xl-6 col-md-6 col-10 col-sm-10 d-flex align-self-start mx-auto mt-1">
          <div class="form-row col-12 no-gutters mb-2 character-sheet-border">
            <div class="form-group col-12 character-sheet-border character-sheet-title-color">
              <h5 class="text-center mx-auto col-12 character-sheet-title-color mt-2">DESTINES</h5>
            </div>

            <div class="input-group align-items-center col-12 mt-2 destiny">
              <label for="destiny1" class="col-12">Destin d'effort :</label>
              <textarea class="form-control d-flex justify-content-center col-9" id="destiny1" rows="1">{{ character_sheet.29.destiny.text }}</textarea>
              <span class="input-group-addon"><input type="checkbox" id="destiny1-checkbox"{% if character_sheet.29.destiny.is_check%} checked {% endif %}> </span>
            </div>
            <div class="input-group align-items-center col-12 mt-2 destiny">
              <label for="destiny2" class="col-12">Destin d'esprit :</label>
              <textarea class="form-control d-flex justify-content-center col-9" id="destiny2" rows="1">{{ character_sheet.30.destiny.text }}</textarea>
              <span class="input-group-addon"><input type="checkbox" id="destiny2-checkbox"{% if character_sheet.30.destiny.is_check%} checked {% endif %}> </span>
            </div>
            <div class="input-group align-items-center col-12 mt-2 destiny">
              <label for="destiny3" class="col-12">Destin racine :</label>
              <textarea class="form-control d-flex justify-content-center col-9" id="destiny3" rows="1">{{ character_sheet.31.destiny.text }}</textarea>
              <span class="input-group-addon"><input type="checkbox" id="destiny3-checkbox"{% if character_sheet.31.destiny.is_check%} checked {% endif %}> </span>
            </div>
            <div class="input-group align-items-center col-12 mt-2 mb-2 destiny">
              <label for="destiny4" class="col-12">Destin de corps :</label>
              <textarea class="form-control d-flex justify-content-center col-9" id="destiny4" rows="1">{{ character_sheet.32.destiny.text }}</textarea>
              <span class="input-group-addon"><input type="checkbox" id="destiny4-checkbox"{% if character_sheet.32.destiny.is_check%} checked {% endif %}> </span>
            </div>
            <div class="input-group align-items-center col-12 mt-2 mb-2 destiny">
              <label for="destiny4" class="col-12">Destin des origines :</label>
              <textarea class="form-control d-flex justify-content-center col-9" id="destiny5" rows="1">{{ character_sheet.33.destiny.text }}</textarea>
              <span class="input-group-addon"><input type="checkbox" id="destiny5-checkbox"{% if character_sheet.33.destiny.is_check%} checked {% endif %}> </span>
            </div>
          </div>
        </div>
        {#--page 2 right side row 2 --#}
        <div class="col-xl-6 col-md-6 col-10 col-sm-10 d-flex align-self-start mx-auto mt-1">
          <div class="form-row col-12 no-gutters mb-2 character-sheet-border">
            <div class="form-group col-12 character-sheet-border character-sheet-title-color">
              <h5 class="text-center mx-auto col-12 character-sheet-title-color mt-2">GRIMOIRE</h5>
            </div>
            <div class="row mt-1 spell-data">
              <div class="col-xl-6 col-md-6 col-12 col-sm-12 text-center">
                <label for="destiny4" class="col-12">Magies :</label>
                <div class="form-control" id="magic">
                  {% autoescape off %}{{ character_sheet.34.spellbook.magic|safe }}{% endautoescape %}</div>
              </div>
              <div class="col-xl-6 col-md-6 col-12 col-sm-12 text-center">
                <label for="destiny4" class="col-12">Immuto :</label>
                <div class="form-control" id="immuto">
                  {% autoescape off %}{{ character_sheet.34.spellbook.immuto|safe }}{% endautoescape %}</div>
              </div>
            </div>
            <div class="col-12 text-center mb-2">
              <label for="destiny5" class="col-12">Spécial :</label>
              <div class="form-control" id="special">{% autoescape off %}{{ character_sheet.34.spellbook.special|safe }}{% endautoescape %}</div>
            </div>
          </div>
        </div>
        {#--page 2 left side row 3 --#}
        <div class="col-xl-6 col-md-6 col-10 col-sm-10 d-flex align-self-start mx-auto mt-1">
          <div class="form-row col-12 no-gutters mb-2 character-sheet-border">
            <div class="form-group col-12 character-sheet-border character-sheet-title-color">
              <h5 class="text-center mx-auto col-12 character-sheet-title-color mt-2">TWIST DECK</h5>
            </div>
            <div class="row mt-1 book-data">
              <div class="col-xl-6 col-md-6 col-12 col-sm-12 text-center">
                <img src="{% static '/icons/light/Icone_Belier.png'%}" class="col-xl-7 col-md-7 col-sm-10 col-10 picture-font-color"></img>
                <select name="twist-deck-ram" id="twist-deck-ram" class="col-xl-7 col-md-7 col-sm-10 col-10 twist-deck-data">
                  <option value="choice_1" {% if character_sheet.35.twist_deck.is_selected %}selected=selected{% endif %}>4, 8, 12</option>
                  <option value="choice_2" {% if character_sheet.36.twist_deck.is_selected %}selected=selected{% endif %}>1, 5, 9, 13</option>
                  <option value="choice_3" {% if character_sheet.37.twist_deck.is_selected %}selected=selected{% endif %}>3, 7, 11</option>
                  <option value="choice_4" {% if character_sheet.38.twist_deck.is_selected %}selected=selected{% endif %}>2, 6, 10</option>
                </select>
              </div>
              <div class="col-xl-6 col-md-6 col-12 col-sm-12 text-center">
                <img src="{% static '/icons/light/Icone_Corbeau.png'%}" class="col-xl-7 col-md-7 col-sm-10 col-10 picture-font-color"></img>
                <select name="twist-deck-raven" id="twist-deck-raven" class="col-xl-7 col-md-7 col-sm-10 col-10 twist-deck-data">
                  <option value="choice_1" {% if character_sheet.39.twist_deck.is_selected %}selected{% endif %}>4, 8, 12</option>
                  <option value="choice_2" {% if character_sheet.40.twist_deck.is_selected %}selected{% endif %}>1, 5, 9, 13</option>
                  <option value="choice_3" {% if character_sheet.41.twist_deck.is_selected %}selected{% endif %}>3, 7, 11</option>
                  <option value="choice_4" {% if character_sheet.42.twist_deck.is_selected %}selected{% endif %}>2, 6, 10</option>
                </select>
              </div>
              <div class="col-xl-6 col-md-6 col-12 col-sm-12 text-center mt-1">
                <img src="{% static '/icons/light/Icone_Livre.png'%}" class="col-xl-7 col-md-7 col-sm-10 col-10 picture-font-color"></img>
                <select name="twist-deck-book" id="twist-deck-book" class="col-xl-7 col-md-7 col-sm-10 col-10 twist-deck-data">
                  <option value="choice_1" {% if character_sheet.43.twist_deck.is_selected %}selected{% endif %}>4, 8, 12</option>
                  <option value="choice_2" {% if character_sheet.44.twist_deck.is_selected %}selected{% endif %}>1, 5, 9, 13</option>
                  <option value="choice_3" {% if character_sheet.45.twist_deck.is_selected %}selected{% endif %}>3, 7, 11</option>
                  <option value="choice_4" {% if character_sheet.46.twist_deck.is_selected %}selected{% endif %}>2, 6, 10</option>
                </select>
              </div>
              <div class="col-xl-6 col-md-6 col-12 col-sm-12 text-center mt-1">
                <img src="{% static '/icons/light/Icone_Masque.png'%}" class="col-xl-7 col-md-7 col-sm-10 col-10 picture-font-color"></img>
                <select name="twist-deck-mask" id="twist-deck-mask" class="col-xl-7 col-md-7 col-sm-10 col-10 twist-deck-data">
                  <option value="choice_1" {% if character_sheet.47.twist_deck.is_selected %}selected{% endif %}>4, 8, 12</option>
                  <option value="choice_2" {% if character_sheet.48.twist_deck.is_selected %}selected{% endif %}>1, 5, 9, 13</option>
                  <option value="choice_3" {% if character_sheet.49.twist_deck.is_selected %}selected{% endif %}>3, 7, 11</option>
                  <option value="choice_4" {% if character_sheet.50.twist_deck.is_selected %}selected{% endif %}>2, 6, 10</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        {#--page 2 right side row 3 --#}
        <div class="col-xl-6 col-md-6 col-10 col-sm-10 d-flex align-self-start mx-auto mt-1">
          <div class="form-row col-12 no-gutters mb-2 character-sheet-border">
            <div class="form-group col-12 character-sheet-border character-sheet-title-color">
              <h5 class="text-center mx-auto col-12 character-sheet-title-color mt-2">EQUIPEMENT</h5>
            </div>
            <div class="form-control" id="inventory-textarea" >{% autoescape off %} {{character_inventory_and_origins.0.inventory|safe }} {% endautoescape %}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters d-flex character-sheet-color">
      <button type="button" id="submit-character-sheet" class="btn btn-primary success-button col-3 mb-3 mx-auto" value="send">Sauvegarder</button>
    </div>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>

$(window).on('load',function(){
  description_editor = CKEDITOR.replace('description-textarea',
  {
    customConfig : 'config_custom.js',
    height: '10vh',
  })
  inventory_editor = CKEDITOR.replace('inventory-textarea',
  {
    customConfig : 'config_custom.js',
    height: '10vh'
  });
  origine_editor = CKEDITOR.replace('origine-textarea',
  {
    customConfig : 'config_custom.js',
    height: '10vh'
  });
  magic_editor = CKEDITOR.replace('magic',
  {
    customConfig : 'config_custom_lighter.js',
    height: '10vh'
  })
  immuto_editor = CKEDITOR.replace('immuto',
  {
    customConfig : 'config_custom_lighter.js',
    height: '10vh'
  })
  special_editor = CKEDITOR.replace('special',
  {
    customConfig : 'config_custom_lighter.js',
    height: '10vh'
  })

  {% autoescape on %}
  description_editor.setData(`{{ character_sheet.0.charinfo.description|safe }}`)
  inventory_editor.setData(`{{ character_inventory_and_origins.0.inventory|safe }}`)
  origine_editor.setData(`{{ character_inventory_and_origins.0.origin|safe }}`)
  {% endautoescape %}

});

$('#submit-character-sheet').on('click',function(){
  let url = "";
  let character_informations = [];
  let occupation = [];
  let origine = origine_editor.getData();
  let aspect = [];
  let sub_aspect = [];
  let attack = [];
  let attack2 = [];
  let skill_data = [];
  let talent = [];
  let inventory = inventory_editor.getData();
  let destiny = [];
  let spellbook = [];
  let twist_deck = [];

  character_informations.push({
    'name': $('#name').val(),
    'age': $('#age').val(),
    'lenght': $('#length').val(),
    'weight': $('#weight').val(),
    'description': description_editor.getData()
  });

  $('.occupation').each(function(){
    let id = $(this).children('input').attr('id');
    occupation.push({
      'is_checked': $('#'+id+'-checkbox').is(':checked'),
      'text': $('#'+id).val()
    })
  })

  aspect.push({
    'power' : $('#power').val(),
    'intel' : $('#intel').val(),
    'agility' : $('#agility').val(),
    'charisma' : $('#charisma').val(),
    'speed' : $('#speed').val(),
    'cunning' : $('#cunning').val(),
    'resilience' : $('#resilience').val(),
    'steadiness' : $('#steadiness').val(),
  })

  attack.push({
    'name': $('#attack-name-1').val(),
    'va': $('#attack-va-1').val(),
    'range': $('#attack-range-1').val(),
    'damage': $('#attack-damage-1').val(),
    'special': $('#attack-special-1').val(),
    'skill': $('#attack-skill-1').val(),
    'reload': $('#attack-reload-1').val(),
  })

  attack2.push({
    'name': $('#attack-name-2').val(),
    'va': $('#attack-va-2').val(),
    'range': $('#attack-range-2').val(),
    'damage': $('#attack-damage-2').val(),
    'special': $('#attack-special-2').val(),
    'skill': $('#attack-skill-2').val(),
    'reload': $('#attack-reload-2').val(),
  })

  sub_aspect.push({
    'defense':$('#defense').val(),
    'walk':$('#walk').val(),
    'armor':$('#armor').val(),
    'charge':$('#charge').val(),
    'will':$('#will').val(),
    'initiative':$('#initiative').val(),
    'wound':$('#wound').val(),
    'height':$('#height').val(),
  })

  $('.skill-data').each(function(){
    let id_number = $(this).attr('id').split('-')[2];
    skill_data.push({
      'competence': $('#competence-'+id_number).val(),
      'aspect': $('#aspect-'+id_number).val(),
      'rang': $('#rang-'+id_number).val(),
      'va': $('#va-'+id_number).val(),
    })
  })

  $('.talent').each(function(){
    let id_number = $(this).attr('id');
    talent.push({
      'id':id_number,
      'value':$(this).val()
    })
  })

  $('.destiny>textarea').each(function(){
    let id_number = $(this).attr('id');
    destiny.push({
      'id':id_number,
      'text': $('#'+id_number).val(),
      'is_checked': $('#'+id_number+'-checkbox').is(":checked")
    });
  })

  spellbook.push({
    'magic': magic_editor.getData(),
    'immuto': immuto_editor.getData(),
    'special': special_editor.getData(),
  });

  $('.twist-deck-data>option').each(function(){
    let id_number = $(this).parent().attr('id');
    twist_deck.push({
      'id': id_number,
      'value':$(this).val(),
      'is_selected': $(this).is(':selected')
    });
  })

  $.ajax({
    url: url,
    type: 'POST',
    dataType : 'json',
    headers: {"X-CSRFToken":"{{ csrf_token }}" },
    data:{
      'game_id': '{{ game_id }}',
      'character_information' : JSON.stringify(character_informations),
      'occupation': JSON.stringify(occupation),
      'origine' : JSON.stringify(origine),
      'aspect': JSON.stringify(aspect),
      'sub_aspect': JSON.stringify(sub_aspect),
      'attack': JSON.stringify(attack),
      'attack2': JSON.stringify(attack2),
      'skill': JSON.stringify(skill_data),
      'talent': JSON.stringify(talent),
      'destiny': JSON.stringify(destiny),
      'spellbook': JSON.stringify(spellbook),
      'inventory': JSON.stringify(inventory),
      'twist_deck': JSON.stringify(twist_deck),
      'csrfmiddlewaretoken': '{{ csrf_token }}',
    },
    success: function () {},
    fail: function(response_data){},
  });
})

$(document).ready(function(){

  $('#page-2').addClass('d-none');

  $('.button-page-1').on('click', function(){
    $('#page-1').removeClass('d-none');
    $('#page-2').addClass('d-none');
  })

  $('.button-page-2').on('click', function(){
    $('#page-2').removeClass('d-none');
    $('#page-1').addClass('d-none');
  });

  let len = 0;
  $('.add-talent').on('click', function(){
    len = $('.talent').length
    $('\
    <div class="row mt-1 talent-row">\
      <div class="col-xl-6 col-md-5 col-12 col-sm-12 text-center talent-subrow">\
        <textarea id="talent-'+ (len++) +'" value="" class="col-12 talent" name="talent-'+ (len++) +'"></textarea>\
      </div>\
      <div class="col-xl-6 col-md-5 col-12 col-sm-12 text-center talent-subrow">\
        <textarea id="talent-'+ (len+=2) +'" value="" class="col-12 talent" name="talent-'+ (len+=2) +'"></textarea>\
      </div>\
    </div>').insertAfter($('.talent-row:last'));
  });

  $('.remove-talent').on('click', function(){
    $('.talent-subrow:last').remove()
  });

});

</script>
{% endblock %}