{% extends 'generalist_template.html' %}
{% load static %}
{% load customtags %}

{% block content%}
<div class="container-fluid" id="dashboard-container">
  <div class="row mt-2">
    <h3 class="col-12 text-center">Bonjour {{ request.user|title }} <span class="col-12 text-center presentation-no-font-family"><i>({{ request.user.username_invite_code }})</i></span></h3>
  </div>
  <div class="row">
    <p class="col-12 text-center presentation-no-font-family"> <i>Dernière connexion le {{ request.user.last_login|date:"d M Y" }} </i></p>
  </div>
  <div class="row">
    <h3 class="col-12 text-center mt-3 ">
      <b>P</b>arties en cours
      <p class="presentation-no-font-family">(
        <span v-if="game_list_count >= max_game_per_user"  class="presentation-no-font-family maximum-game-number-reached">
          [[ game_list_count ]]
        </span>
        <span v-else-if="game_list_count < max_game_per_user" class="presentation-no-font-family can-add-game">
          [[ game_list_count ]]
        </span>
        / [[ max_game_per_user ]] )
      </p>
    </h3>
  </div>
  <div class="container-fluid">
    <div class="row no-gutters">

      <div class="row  col-xl-12 col-md-12 col-lg-12 col-sm-12 col-12 d-flex mx-auto align-self-center justify-content-center mt-2">
        <!-- create game card -->
        <div v-if="game_list_count >= max_game_per_user" class="card col-xl-1 col-md-3 col-sm-6 col-10 d-flex align-items-center m-1 unallowed-new-game-card">
            <img class="card-img-top" src="{% static 'icons/joker-hat-svgrepo-com.svg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text black-color text-justify text-center">nouvelle partie</p>
            </div>
          </div>
          <div v-else-if="game_list_count < max_game_per_user" class="card col-xl-1 col-md-3 col-sm-6 col-10  d-flex align-items-center card-border-style card-size m-1 create-new-game-card" data-toggle="modal" data-target="#create-game-modal">
            <div class="col card-title fas fa-crown mt-1 white-crown ms-auto"></div>
            <img class="card-img-top" src="{% static 'icons/joker-hat-svgrepo-com.svg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text black-color text-justify text-center ">nouvelle partie</p>
            </div>
          </div>
          <!-- game card -->
          <!-- don't need :key="game_list_count"-->
          <a v-for="game in games" @click="go_in_game($event)" class="card col-xl-1 col-md-3 col-sm-6 col-10 d-flex align-items-center card-border-style card-size m-1 game-card" v-bind:id="[[ game.id ]]">
            <div v-if="game.owner_uuid_id === user_id" class="col card-title fas fa-crown mt-1 crown ms-auto"></div>
            <div v-else class="col card-title fas fa-crown mt-1 white-crown ms-auto"></div>
            <img class="card-img-top game-card-img-background" src="{% static 'icons/dark/Wyrd_TheOtherSide_Suit_Icon_Tome.png' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text black-color text-justify text-center">[[game.name]]</p>
            </div>
          </a>
        </div>
      </div>
  <!-- friend's list -->
  <div class="row d-flex background-transparency-color card-border-style col-xl-2 col-md-10 col-lg-10 mx-auto col-sm-1s0 d-flex align-self-start justify-content-start mt-5">
    <div class="card-title"><h5 class="text-center">Liste d'amis</h5></div>
    <div class="card-body">
      <ul class="list-group list-contact row list-group-flush">
        <li v-for="friend, name, id, owner_uuid_id in friends" class="list-group-item test-justify presentation-no-font-family d-flex friend-list" v-bind:id="[[ friend.id]]">
          <i class="fas fa-user-minus mt-1 col-2 cursor-pointer" :id="[[friend.name]]" v-on:click="get_contact_name($event)" data-toggle="modal" data-target="#invite-delete-modal"></i><span class="d-flex col-8 contact-name">[[friend.name]]</span>
          <span v-if="friend.is_online" class="dot green-dot ms-auto mt-2 "></span>
          <span v-else class="dot red-dot ms-auto mt-2"></span>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <h5 class="text-center cursor-pointer" data-toggle="modal" data-target="#invite-friend-modal">Ajouter un contact</h5>
    </div>
  </div>
      </div>
        <div class="modal fade" id="create-game-modal" tabindex="-1" role="dialog" aria-labelledby="create-game-modal-Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title modal-text-color mx-auto" id="game-modal">Créer une nouvelle partie</h5>
              </div>
              <div class="modal-body form-group">
                <label for="input-game-name">Nom du jeu :</label>
                <input type="text" name="game_name" value="" minlength="4" maxlength="16" class="form-control" id="input-game-name" aria-describedby="input-game-name-help" placeholder="entrez le nom du jeu..." maxlength="16">
                <small id="input-game-name-help" class="form-text text-muted">Pas plus de 16 caractères.</small>
              </div>
              <div class="modal-footer mx-auto">
                <button v-if="game_list_count < max_game_per_user" type="button" id="submit-game-creation" class="btn btn-primary success-button" v-on:click="create_game()" data-dismiss="modal">Créer</button>
                <button v-else-if="game_list_count === max_game_per_user" type="button" class="btn btn-primary success-button disabled-button" disabled hidden>Créer</button>
                <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
      <div class="modal fade" id="invite-friend-modal" tabindex="-1" role="dialog" aria-labelledby="invite-friend-modal-Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title modal-text-color mx-auto" id="contact-modal">Ajouter ce contact</h5>
            </div>
            <div class="modal-body form-group">
              <label for="input-invitation-name">Nom du contact :</label>
              <input type="text" name="invite_code" value="" minlength="4" maxlength="22" class="form-control presentation-no-font-family" id="input-friend-name" aria-describedby="input-game-name-help" placeholder="un_user#1234" required>
              <small id="input-invitation-name-help" class="form-text text-muted">Pas plus de 22 caractères.</small>
              <p class="alert alert-danger friend-invitation-empty">Vous devez entrer un utilisateur...</p>
              <p class="alert alert-danger friend-invitation-error">Cet utilisateur n'existe pas...</p>
              <p class="alert alert-success friend-invitation-success">Invitation envoyée</p>
              <p class="alert alert-warning friend-invitation-already-sent">Une invitation est toujours en attente d'être acceptée</p>
              <p class="alert alert-warning friend-same-user-error">Vous ne pouvez pas vous ajouter vous meme...</p>
              <p class="alert alert-warning already-friend-error">Ce contact est déjà présent dans votre liste...</p>
            </div>
            <div class="modal-footer mx-auto">
              <button type="button" v-on:click="create_friend_invitation()" id="submit-invitation-sending" class="btn btn-primary success-button">Inviter</button>
              <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="invite-delete-modal" tabindex="-1" role="dialog" aria-labelledby="invite-friend-modal-Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title modal-text-color">Suppression de contact</h5>
          </div>
          <div class="modal-body">
            <p class="modal-text-color presentation-no-font-family">Êtes-vous sur de vouloir supprimer [[ selected_contact ]] ?</p>
            <p class="alert alert-danger friend-delete-error">Cet utilisateur n'existe pas, ou vous n'êtes pas amis...</p>
            <p class="alert alert-success friend-delete-success">Contact supprimé</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary success-button" v-on:click="delete_friend($event)">Supprimer</button>
            <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>

if($('.alert').is(':visible')){
    $('.alert').fadeOut(10000);
}
let vuejs_view = new Vue({
    el: '#dashboard-container',
    delimiters: ['[[', ']]'],
    data: {
        max_game_per_user: '{{ max_game_per_user }}',
        game_list_count: parseInt('{{ game_list_count }}'),
        get_game_list: '{{ game_list }}',
        user_id: '{{ request.user.id }}',
        id_array: [
          {% for game in game_list %}
          "{{game.id}}",
          {% endfor %}
        ],
        games: [
          {% for game in game_list %}
          {"name": "{{game.name}}", "id":"{{game.id}}", "owner_uuid_id":"{{game.owner_uuid_id}}"},
          {% endfor %}
        ],
        friends: [
          {% for friend in friends_list %}
          {"name":"{{ friend.name }}", "id":"{{ friend.id }}", "is_online":"{{ friend.is_online }}"},
          {% endfor %}
        ],
        selected_contact: '',
    },
    methods: {
      reRender(){
         this.$forceUpdate()
      },
      create_game: function() {
        let url = "{% url 'create_game_view' %}";
        $.ajax({
          url: url,
          type: 'POST',
          dataType : 'json',
          headers: { "X-CSRFToken": "{{ csrf_token }}" },
          data:{
            'game_name': $('#input-game-name').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function (response_data) {
            $('#input-game-name').val('');
            if(response_data.success){
              vuejs_view.game_list_count = response_data['game_list_count'];
              $('.game-card').each(function(index){
                if(vuejs_view.id_array.indexOf(response_data['game_data']['id']) === -1){
                  vuejs_view.id_array.push(response_data['game_data']['id'])
                  vuejs_view.games.push(response_data['game_data']);
                }
              })
            }else{
            }
          },
          fail: function(response_data){
          }
        });
      },
      auto_update_game_data: async function(){
        let url = "{% url 'create_game_view' %}";
        $.ajax({
          url: url,
          async: true,
          context : this,
          type: 'GET',
          dataType : 'json',
          headers: { "X-CSRFToken": "" },
          data:{},
          success: function (response_data) {
            if(response_data['game_data'].length < vuejs_view.games.length ){
              if(response_data['game_data'].length === 0){
                vuejs_view.games = []
              }else{
                let can_be_deleted = false;
                $.each(vuejs_view.games, function(index_dashboard){
                  if(jQuery.inArray(vuejs_view.games[index_dashboard]['id'], response_data['game_data']) === 0){
                    can_be_deleted = true;
                  }
                  if(can_be_deleted == true){
                    vuejs_view.games.splice(index_dashboard, 1);
                    vuejs_view.game_list_count = response_data['game_count'];
                  }
                });
              }
            }else if(response_data['game_data'].length >= vuejs_view.games.length){
              $.each(response_data['game_data'], function(index){
                if(jQuery.inArray(response_data['game_data'][index]['id'],vuejs_view.id_array) === -1){
                  vuejs_view.id_array.push(response_data['game_data'][index]['id'])
                  vuejs_view.games.push(response_data['game_data'][index]);
                  vuejs_view.game_list_count = response_data['game_count'];
                }
              });
            }
          },
          fail: function(response_data){
          },
        })
      },
      create_friend_invitation: function(){
          let invite_code = $('#input-friend-name').val();
          let url = "{% url 'create-friend-invitation' %}";
          $.ajax({
            url: url,
            async: false,
            context : this,
            type: 'POST',
            dataType : 'json',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data:{
              'invite_code': invite_code,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response_data) {
              if(response_data.success){
                $('.friend-invitation-success').show()
                $('.friend-invitation-error, .friend-same-user-error, .friend-invitation-empty, .already-friend-error, .friend-invitation-already-sent').hide()
              }else if(response_data.error_same_user){
                $('.friend-same-user-error').show()
                $('.friend-invitation-error, .friend-invitation-empty, .friend-invitation-success, .already-friend-error, .friend-invitation-already-sent').hide()
              }else if(response_data.already_friend_error){
                $('.already-friend-error').show()
                $('.friend-invitation-error, .friend-invitation-empty, .friend-invitation-success, .friend-invitation-already-sent').hide()
              }else if(response_data.empty){
                $('.friend-invitation-empty').show()
                $('.friend-invitation-error, .friend-invitation-success, .friend-same-user-error, .friend-invitation-already-sent').hide()
              }else if(response_data.user_does_not_exists){
                $('.friend-invitation-error').show()
                $('.friend-invitation-success, .friend-invitation-empty, .friend-same-user-error, .already-friend-error, .friend-invitation-already-sent').hide()
              }else if(response_data.invitation_already_sent){
                $('.friend-invitation-already-sent').show()
                $('.friend-invitation-success, .friend-invitation-empty, .friend-same-user-error, .already-friend-error').hide()
              }
            },
            fail: function(response_data){
            }
          })
      },
      auto_update_friends_list: async function(){
        let url = '{% url "display-friend-list" %}';
        $.ajax({
          url: url,
          async: true,
          context : this,
          type: 'GET',
          dataType : 'json',
          headers: { "X-CSRFToken": "" },
          data:{},
          success: function (response_data) {
            vuejs_view.friends = []
            $.each(response_data['friends'], function(index){
                if(jQuery.inArray(response_data['friends'][index]['id'],vuejs_view.friends) === -1){
                  vuejs_view.friends.push({
                  "name": response_data['friends'][index]['name'],
                  "id": response_data['friends'][index]['id'],
                  "is_online": response_data['friends'][index]['is_online']
                  })
                }
            });
          },
          fail: function(response_data){
          },
        })
      },
      get_contact_name: function(event){
        let name = event.currentTarget.id;
        vuejs_view.selected_contact = name
      },
      delete_friend: function(event){
        let url = '{% url "delete-friend" %}';
        $.ajax({
          url: url,
          async: false,
          context : this,
          type: 'POST',
          dataType : 'json',
          headers: { "X-CSRFToken": "{{ csrf_token }}" },
          data:{
              'contact_name': vuejs_view.selected_contact,
              'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          success: function (response_data) {
            if(response_data.success){
             $('.friend-delete-error').hide()
             $('.friend-delete-success').show()
            }else{
             $('.friend-delete-error').show()
             $('.friend-delete-success').hide()
            }
          },
        })
      },
      go_in_game: function(event){
        let targetId = event.currentTarget.id;
        let next_url = "/ingame/"
        window.location.replace(next_url + targetId);
      }
    }
  })


  let notifications = new Vue({
    el: '#top-pannel-notification',
    delimiters: ['[[', ']]'],
    data: {
      friend_invite_notification : [],
      friend_invitation_list : [],
      game_invitation_list : [],
      game_invite_notification : 0,
    },
    methods:{
      auto_update_friend_notification: async function(){
        let url = "{% url 'display-friend-invitation' %}";
        $.ajax({
          url: url,
          async: true,
          context: this,
          type: 'GET',
          dataType : 'json',
          headers: { "X-CSRFToken": "" },
          data:{},
          success: function (response_data) {
            if(response_data.success){
              notifications.friend_invite_notification = response_data['friend_invitation']
              let can_be_added = true;
              notifications.friend_invitation_list = [];
              $.each(response_data['friend_invitation_list'], function(index){
                can_be_added = true;
                $.each(notifications.friend_invitation_list, function(friend_index){
                  if(response_data['friend_invitation_list'][index]['id'] === notifications.friend_invitation_list[friend_index]['id']){
                    can_be_added = false;
                  }
                });
                if(can_be_added === true){
                  notifications.friend_invitation_list.push({"name": response_data['friend_invitation_list'][index]['name'], "id": response_data['friend_invitation_list'][index]['id']})
                }
              });
            }
          },
          fail: function(response_data){
          }
        })
      },
      accept_or_deny_friend_invitation: async function(event){
        let id = event.target.id
        let choices = "";
        if($(event.target).hasClass('accept-invitation')){
          choices = "accept";
        }else if($(event.target).hasClass('deny-invitation')){
          choices = "deny";
        }
        let url = "{% url 'accept-or-deny-friend-invitation' %}";
        $.ajax({
          url: url,
          async: true,
          context: this,
          type: 'POST',
          dataType : 'json',
          headers: { "X-CSRFToken": "{{ csrf_token }}" },
          data:{
            'contact_name' : id,
            'choices' : choices,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function (response_data) {
            let i = 0
            $.each(notifications.friend_invitation_list, function(index){
              if(notifications.friend_invitation_list[index]['name'] == id){
                notifications.friend_invitation_list.splice(index, 1)
                notifications.friend_invite_notification--;
              }
            })
          }
        });
      },
      auto_update_game_notification: async function(){
        let url = "{% url 'display-player-invitation' %}";
        $.ajax({
          url: url,
          async: true,
          context: this,
          type: 'GET',
          dataType : 'json',
          headers: { "X-CSRFToken": "" },
          data:{},
          success: function (response_data) {
            if(response_data.success){
              notifications.game_invite_notification = response_data['game_invitation']
              notifications.game_invitation_list = response_data['game_invitation_list']
            }
          },
          fail: function(response_data){
          }
        })
      },
      accept_or_deny_game_invitation: async function(event){
        let id = event.target.id;
        let contact_name;
        let choices = "";
        if($(event.target).hasClass('accept-invitation')){
          choices = "accept";
        }else if($(event.target).hasClass('deny-invitation')){
          choices = "deny";
        }
        $.each(notifications.game_invitation_list, function(index){
          if(notifications.game_invitation_list[index]['game_name'] == id){
            contact_name = notifications.game_invitation_list[index]['contact_name']
          }
        })
        let url = "{% url 'accept-or-deny-player-invitation' %}";
        $.ajax({
          url: url,
          async: true,
          context: this,
          type: 'POST',
          dataType : 'json',
          headers: { "X-CSRFToken": "{{ csrf_token }}" },
          data:{
            'choices' : choices,
            'game_name' : id,
            'contact_name': contact_name,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function (response_data) {
            $.each(notifications.game_invitation_list, function(index){
              if(notifications.game_invitation_list[index]['game_name'] == id){
                notifications.game_invitation_list.splice(index, 1);
                notifications.game_invite_notification--;
              }
            })
          }
        });
      },
    }
  });


  function callEverything(){
    vuejs_view.auto_update_game_data();
    vuejs_view.auto_update_friends_list();
    notifications.auto_update_friend_notification();
    notifications.auto_update_game_notification();
  }

  $(window).on('load',function(){
    callEverything();
  });

  $(document).ready(function(){
    $('.friend-invitation-error, .friend-invitation-empty, .friend-invitation-success, .friend-same-user-error, .already-friend-error, .friend-invitation-already-sent, .friend-delete-error, .friend-delete-success').hide()
    setInterval(callEverything, 2000)
  });
</script>
{% endblock %}