{% extends 'generalist_template.html' %}
{% load static %}
{% load customtags %}
{% block content %}

<div class="container-fluid" id="game-container">
  <div class="row no-gutters">
    <div class="row no-gutters">
      <div class="col-12">
        <h3 class="text-center mt-2">{{ game.name|title }}{% if request.user.id == game.owner_uuid_id %}<span class="col-12 text-center presentation-no-font-family"><i> ({{ game.game_invite_code }})</i></span>{% endif %}</h3>
      </div>
    </div>
    <div class="row no-gutters mx-auto">
      <div class="col-6 d-flex justify-content-end">
        <div class="card col-xl-2 col-md-4 col-sm-5 game-card-style draw-card">
          <div class="card-title text-center col-12 section-title">
            <p>pioche <span class="presentation-no-font-family">( [[ deck_current_len ]] / 54)</span></p> 
          </div>
          <div class="card-body col-12 game-card-style">
            <img v-if="count_card_in_hands < 5"  v-on:click="pick_a_card()" class="card-img card-size action-cursor" src="{% static '/cards/dos.svg' %}"></img>
            <img v-else class="card-img unallowed-cursor-and-disable" src="{% static '/cards/dos.svg' %}" disabled></img>
            <div class="card-footer game-card-style text-center action-cursor col-12">
              {% if request.user.id == game.owner_uuid_id%}
              <div class="btn shuffle-deck mx-auto" v-on:click='reset_all_cards()'>
                <i class="fas fa-random"></i>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-start">
        <div class="card col-xl-2 col-md-4 col-sm-5 game-card-style">
          <div class="card-title text-center col-12 section-title">
            <p>defausse</p>
          </div>
          <div class="card-body col-12 game-card-style">
            <img class="card-img unallowed-cursor-and-disable game-card-style" src="{% static '/cards/dos.svg' %}"></img>
            <div class="card-footer game-card-style text-center action-cursor col-12">
              {% if request.user.id == game.owner_uuid_id%}
              <div class="btn shuffle-cemetery mx-auto " v-on:click="clean_inhand_cards()">
                <i class="fas fa-broom"></i>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div v-if="count_card_in_hands >= 5" class="col col-12 d-flex">
      <b class="col col-xl-2 col-md-4 col-sm-5  d-flex justify-content-center presentation-no-font-family-bold draw-card-alert-color-text text-center mx-auto background-transparency-color  alert unallowed-cursor" id="warning-card-draw-text"><i class="fas fa-exclamation-circle mt-1"> Attention, zone de tirage pleine</i></b>
    </div>
  </div>
  <div class="row no-gutters">
    <div v-if="deck_current_len === 0" class="col col-12 d-flex">
      <b class="col col-4 d-flex justify-content-center presentation-no-font-family-bold empty-deck-alert-color-text text-center mx-auto background-transparency-color  alert unallowed-cursor" id="warning-card-draw-text"><i class="fas fa-exclamation-circle mt-1"> Attention, deck vide</i></b>
    </div>
  </div>
  {{ character_sheet.0.fields.charinfo }}
  <!-- in hand part -->
  <div class="row mt-5">
    <p class="ms-auto section-title" style="">Tirages:</p>
  </div>
  <div class="row no-gutters d-flex align-self-center justify-content-center mx-auto col-xl-6 col-md-6 col-12" >
    <div class="card col-xl-2 col-md-4 col-sm-3 col-6 game-card-style d-flex justify-content-center card-size" v-if="count_card_in_hands <= 5" v-for="card in cards_drawn">
      <div class="card-body game-card-style">
        <img class="card-img game-card-style" v-bind:src="card.filename" v-bind:alt="card.filename"></img>
      </div>
      <div class="card-footer game-card-style text-center last-picked-up-style">
          <b class="last-picked-up-style col-12 presentation-no-font-family-bold">[[ card.last_picked_up_by ]]</b>
      </div>
    </div>
  </div>
  <!-- player's list -->
  <div class="row d-flex background-transparency-color card-border-style col-xl-2 col-md-10 col-lg-10 mx-auto col-sm-1s0 d-flex align-self-start justify-content-start mt-4 mb-5">
    <div class="card-title"><h5 class="text-center">Joueurs</h5></div>
    <div class="card-body">
      <ul class="list-group list-contact row list-group-flush">
        <li v-for="player, name, id, owner_uuid_id in players" class="list-group-item test-justify presentation-no-font-family d-flex friend-list" v-bind:id="[[ player.id]]">
          <i v-if="player.id == game_owner" class="presentation-no-font-family player-size-name mt-1 col-2"><i class="fas fa-crown me-auto"></i></i>
          <i v-else-if="user_id == game_owner" :id="[[player.name]]" class="fas fa-user-minus mt-1 col-2 cursor-pointer" onclick="ingame_view.get_contact_name(event)" data-toggle="modal" data-target="#delete-player-modal"></i>
          <span class="d-flex col-8 contact-name">[[ player.name ]]</span>
          <span v-if="player.is_online" class="dot green-dot ms-auto mt-2"></span>
          <span v-else class="dot red-dot ms-auto mt-2"></span>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      {% if request.user.id == game.owner_uuid_id %}
      <div class="row no-gutters col-12">
        <h5 class="text-center cursor-pointer presentation-no-font-family col-5 ms-auto" data-toggle="modal" data-target="#invite-friend-modal"><i class="fas fa-user-friends fa-2x"></i>
        <h5 class="text-center cursor-pointer presentation-no-font-family col-5 ms-auto" data-toggle="modal" data-target="#add-contact-modal"><i class="fas fa-address-book fa-2x"></i>
      </div>
      {% endif %}
    </div>  
  </div> 
  <!-- new player modal part -->
  <div class="modal fade" id="invite-friend-modal" tabindex="-1" role="dialog" aria-labelledby="invite-friend-modal-Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-text-color mx-auto" id="exampleModalLabel">Ajouter ce contact</h5>
        </div>
        <div class="modal-body form-group">
          <label for="input-invitation-name">Nom du contact :</label>
          <input type="text" name="invite_code" value="" minlength="4" maxlength="22" class="form-control presentation-no-font-family" id="input-friend-name" aria-describedby="input-game-name-help" placeholder="un_user#1234">
          <small id="input-invitation-name-help" class="form-text text-muted">Pas plus de 22 caractères.</small>
          <p class="alert alert-danger friend-invitation-error">Cet utilisateur n'existe pas...</p>
          <p class="alert alert-success friend-invitation-success">Cet utilisateur existe...</p>
          <p class="alert alert-warning friend-same-user-error">Vous ne pouvez pas vous ajouter vous meme...</p>
          <p class="alert alert-warning already-friend-error">Ce contact est déjà présent dans votre liste...</p>
        </div>
        <div class="modal-footer mx-auto">
          <button type="button" v-on:click="create_player_invitation($event)" id="submit-invitation" class="btn btn-primary success-button"data-dismiss="modal">Inviter</button>
          <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- new player modal from friend list part -->
  <div class="modal fade" id="add-contact-modal" tabindex="-1" role="dialog" aria-labelledby="add-contact-modal-Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-text-color mx-auto" id="exampleModalLabel">Invitez vos amis</h5>
        </div>
        <div class="modal-body form-group">
          <select class="form-select" aria-label="select-example" name="friend-select" id="friend-select">
            <option value=''>Selectionnez un contact</option>
            <option v-for="friend in friend_list" :value='[[ friend.id ]]'>[[ friend.name ]]</option>
          </select>
        </div>
        <div class="modal-footer mx-auto">
          <button type="button" v-on:click="create_player_invitation($event)" id="submit-contact" class="btn btn-primary success-button"data-dismiss="modal">Inviter</button>
          <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- delete player from game confirmation modal -->
  <div class="modal fade" id="delete-player-modal" tabindex="-1" role="dialog" aria-labelledby="delete-player-Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-text-color">Suppression du joueur</h5>
        </div>
        <div class="modal-body">
          <p class="modal-text-color presentation-no-font-family">Êtes-vous sur de vouloir supprimer <b class="presentation-no-font-family login-alert-text">[[ selected_contact ]]</b> ?</p>
          <p class="alert alert-danger friend-delete-error">Cet utilisateur n'existe pas, ou vous n'êtes pas amis...</p>
          <p class="alert alert-success friend-delete-success">Contact supprimé</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary success-button" v-on:click="delete_player()">Supprimer</button>
          <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- delete game confirmation modal -->
  <div class="modal fade" id="invite-delete-modal" tabindex="-1" role="dialog" aria-labelledby="invite-friend-modal-Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-text-color">Suppression de contact</h5>
        </div>
        <div class="modal-body">
          <p class="modal-text-color presentation-no-font-family">Êtes-vous sur de vouloir supprimer [[ selected_contact ]] ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary success-button" on_click="ingame_view.delete_player($event)" data-dismiss="modal">Supprimer</button>
          <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block javascript %}
<script type="application/javascript">


let ingame_view = new Vue({
  el: '#game-container',
  delimiters: ['[[', ']]'],
  data: {
    user_id: '{{ request.user.id }}',
    game_owner : '{{ game.owner_uuid_id }}',
    game_id: '{{ game.id }}',
    game_invitation_code: '{{ game.game_invite_code }}',
    players: [
      {% for player in players %}
      {"name":"{{ player.username_invite_code }}","id":"{{ player.player_id }}","is_online":"{{ player.is_online}}"},
      {% endfor %}
    ],
    friend_list: [
      {% for friend in friends %}
        {"name":"{{ friend.username_invite_code }}","id":"{{ friend.player_id }}"},
      {% endfor %}
    ],
    count_card_in_hands: 0,
    deck: [],
    cemetery:[],
    cards_drawn:[],
    deck_current_len : 54,
    selected_contact: '',
  },
  methods: {
    auto_update_players_list: async function(){
      let url = '{% url "display_friends_and_players_view" %}';
      $.ajax({
        url: url,
        async: true,
        context : this,
        type: 'GET',
        dataType : 'json',
        headers: {"X-CSRFToken":"" },
        data:{
          'game_id': '{{ game.id }}',
        },
        success: function (response_data) {
          ingame_view.players.splice(0)
          ingame_view.friend_list = []
          $.each(response_data['players'], function(index){
              console.log(response_data['players']);
              ingame_view.players.push({
                "name": response_data['players'][index]['username_invite_code'],
                "id": response_data['players'][index]['player_id'],
                "is_online": response_data['players'][index]['is_online'],
              })
          });
          $.each(response_data['friends'], function(index){
              ingame_view.friend_list.push({
                "name": response_data['friends'][index]['username_invite_code'],
                "id": response_data['friends'][index]['player_id'],
              })
          });
        },
        fail: function(response_data){
        },
      })
    },
    create_player_invitation: function(event){
        let url = '{% url "create-player-invitation" %}';
        let id = event.target.id;
        let player_invitation_code;
        let invitation_by_select;
        if( event.target.id === "submit-contact"){
          $('#friend-select option').each(function(i) {
            if (this.selected == true) {
              player_invitation_code = this.value;
              invitation_by_select = 'True';
            }
          });
        }else{
          player_invitation_code = $('#input-friend-name').val();
          invitation_by_select = 'False';
        }
        if(player_invitation_code != ''){
          $.ajax({
            url: url,
            async: false,
            context : this,
            type: 'POST',
            dataType : 'json',
            headers: {"X-CSRFToken":"{{ csrf_token }}" },
            data:{
              'player_id': player_invitation_code,
              'game_id': '{{ game.id }}',
              'game_owner': '{{ game.owner_uuid_id }}',
              'invitation_by_select': invitation_by_select,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response_data) {
              if(response_data['success']){
                $.each(ingame_view.friend_list, function(index){
                  if(ingame_view.friend_list[index] == player_invitation_code){
                    ingame_view.friend_list.splice(index,1)
                  }
                })
              }
            },
            fail: function(response_data){
            }
          });
        }
      },
      pick_a_card: async function(){
        let game_id = '{{ game.id }}';
        let url = '{% url "pick_a_card" %}';
        $.ajax({
          url: url,
          async: true,
          context : this,
          type: 'POST',
          dataType : 'json',
          headers: {"X-CSRFToken":"{{ csrf_token }}" },
          data:{
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'game_id':game_id
          },
          success: function (response_data) {
            if(response_data['success']){
              let can_be_added = true;
              $.each(response_data['picked_card'], function(index){
                can_be_added = true;
                $.each(ingame_view.cards_drawn, function(card_index){
                  if(response_data['picked_card'][index]['card_id'] === ingame_view.cards_drawn[card_index]['id']){
                    can_be_added = false;
                  }
                });
                if(can_be_added === true){
                  ingame_view.cards_drawn.push({
                    'id': response_data['picked_card'][index]['card_id'],
                    'filename': '/static/cards/'+response_data['picked_card'][index]['card_id__filename'],
                    'last_picked_up_by': response_data['picked_card'][index]['last_picked_up_by'],
                  });
                  ingame_view.count_card_in_hands++;
                }
              });
              ingame_view.deck_current_len = response_data['deck_current_len']
            }
          }
        });
      },
      clean_inhand_cards: async function(){
        let game_id = '{{ game.id }}';
        let url = '{% url "clean_drawn_cards" %}';
        $.ajax({
          url: url,
          async: true,
          context : this,
          type: 'POST',
          dataType : 'json',
          headers: {"X-CSRFToken":"{{ csrf_token }}" },
          data:{
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'game_id':game_id
          },
          success: function (response_data) {}
        });
      },
      auto_update_cards_informations: async function(){
        let game_id = '{{ game.id }}';
        let url = '{% url "get_cards_informations" %}';
        $.ajax({
          url: url,
          async: true,
          context : this,
          type: 'GET',
          dataType : 'json',
          headers: {"X-CSRFToken":"" },
          data:{
            'csrfmiddlewaretoken': '',
            'game_id':game_id
          },
          success: function (response_data) {
            if(response_data['success']){
              ingame_view.deck = [];
              ingame_view.cemetery = [];
              ingame_view.cards_drawn = [];
              ingame_view.count_card_in_hands = response_data['picked_card'].length;
              ingame_view.deck_current_len = response_data['deck'].length;
              $.each(response_data['deck'], function(index){
                  ingame_view.deck.push({
                    'id': response_data['deck'][index]
                  });
              });
              $.each(response_data['cemetery'], function(index){
                ingame_view.cemetery.push({
                  'id': response_data['cemetery'][index]
                });
              });
              if(response_data['picked_card'].length > 0){
                $.each(response_data['picked_card'], function(index){
                  ingame_view.cards_drawn.push({
                    "id": response_data['picked_card'][index]['id'],
                    "filename": '/static/cards/'+response_data['picked_card'][index]['card_id__filename'],
                    "last_picked_up_by": response_data['picked_card'][index]['last_picked_up_by'],
                  });
                });
              }else{
                ingame_view.cards_drawn = [];
                ingame_view.count_card_in_hands = 0;
              }
            }
          }
        });
      },
      reset_all_cards: async function(){
        let game_id = '{{ game.id }}';
        let url = '{% url "reset_deck" %}';
        $.ajax({
          url: url,
          async: true,
          context : this,
          type: 'POST',
          dataType : 'json',
          headers: {"X-CSRFToken":"{{ csrf_token }}" },
          data:{
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'game_id':game_id
          },
          success: function (response_data) {
            if(response_data['success']){
              ingame_view.cards_drawn = [];
              ingame_view.count_card_in_hands = 0;
              ingame_view.cemetery = [];
              ingame_view.deck = [];
              $.each(response_data['deck'], function(index){
                ingame_view.deck.push({
                  'id': response_data['deck'][index]['id']
                });
              });
            }
          }
        });
      },
      get_contact_name: function(event){
        let name = event.currentTarget.id;
        ingame_view.selected_contact = name
      },
      delete_player: function($event){
        let url = '{% url "delete-player" %}';
        game_id = '{{ game.id }}'
        $.ajax({
          url: url,
          async: false,
          context : this,
          type: 'POST',
          dataType : 'json',
          headers: { "X-CSRFToken": "{{ csrf_token }}" },
          data:{
              'game_id': game_id,
              'contact_name': ingame_view.selected_contact,
              'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          success: function (response_data) {},
        })
      }
    },
  });


function callEverything(){
  ingame_view.auto_update_players_list();
  ingame_view.auto_update_cards_informations();
}

$(window).on('load',function(){
  callEverything();
  $('.friend-invitation-error, .friend-invitation-empty, .friend-invitation-success, .friend-same-user-error, .already-friend-error, .friend-invitation-already-sent, .friend-delete-error, .friend-delete-success').hide()
  setInterval(callEverything, 2000)
});

</script>
{% endblock %}